:root {
  --font-family-primary: "Noto Sans TC", serif;
  --color-primary: #000;
  --color-secondary: #333;
  --color-light: #ffffff;
  --color-accent: #666;
  --box-shadow-base: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.2);
  --font-size-title: 3rem;
  --font-size-step-title: 1.5rem;
  --font-size-step-description: 1rem;
  --line-height-description: 1.4;
  --radius-base: 10px;
  --spacing-small: 15px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --spacing-extra-large: 60px;
  --transition-base: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 主容器樣式 */
.registration-container {
  text-align: center;
  background: url("../images/wave_1.png") no-repeat bottom center;
  background-size: contain;
  font-family: var(--font-family-primary);
  overflow: hidden;
  position: relative;
}

/* 標題樣式 */
.title {
  font-size: var(--font-size-title);
  font-weight: 900;
  margin-bottom: var(--spacing-medium);
  color: var(--color-primary);
}

/* 滾動文字 */
.animated-text-container {
  position: relative;
  overflow: hidden;
  height: 8rem;
  display: flex;
  align-items: center;
}

.animated-text {
  font-size: 2rem;
  color: var(--color-light);
  white-space: nowrap;
  position: absolute;
  animation: scrollText 12s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

/* 步驟容器樣式 */
.steps-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-large);
  margin-top: var(--spacing-large);
  padding-bottom: var(--spacing-extra-large);
}

/* 單步驟樣式 */
.step {
  border-radius: var(--radius-base);
  box-shadow: var(--box-shadow-base);
  text-align: center;
  padding: var(--spacing-medium);
  width: 660px;
  transition: var(--transition-base);
}

.step:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.step-image {
  width: 100%;
  height: 580px;
  object-fit: contain;
  border-radius: var(--radius-base);
  margin-bottom: var(--spacing-small);
}

.step-title {
  font-size: var(--font-size-step-title);
  font-weight: 700;
  margin-bottom: var(--spacing-small);
}

.step-description {
  font-size: var(--font-size-step-description);
  line-height: var(--line-height-description);
}
